@import url("../../Main.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}


#telaRecursos {
  grid-template-columns: 1600px  1fr 200px; 
  width: 100vw;
  height: 100vh;
  background-color: var(--background-cinza, #f4f4f4);
  gap: 0; 
  overflow: hidden;
}


#containerRecursos {
  background-color:  #fff;
  border-radius: 20px 0 0 20px;
  padding: 20rem 1rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 2rem;
  overflow-y: auto;
  margin-left: 380px;

}


#sidebarDireita {
  background-color: #fff;
  padding: 2rem;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.05);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  border-radius: 0 20px 20px 0;
  overflow-y: auto;
  margin-right: 10px;
}

.cabecalho-sidebar h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1rem;
  
}

.atribuicao-campos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.conteudo-recursos {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cabecalho-recursos {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cabecalho-recursos h1 {
  font-size: 1.3rem;
  color: #333;
  line-height: 1.4;
}

.btn-voltar {
  background: none;
  border: none;
  color: #4e4e4e ;
  cursor: pointer;
  font-weight: bold;
}

.formulario-recursos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.campo label {
  font-weight: bold;
  color: #333;
}

.campo input,
.campo textarea,
.campo select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

.campo input:focus,
.campo textarea:focus,
.campo select:focus {
  border-color: #7D53F3;
}

.linha-campos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.btn-criar {
  margin-top: auto;
  width: 100%;
  background-color: #7D53F3;
  color: #fff;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 108px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-criar:hover {
  background-color: #6e4ad1;
}

body {
  display: block;
}

h1 {
  font-size: 40px !important;
  font-weight: 700;
  color: #4e4d4d;
  line-height: 1.2;
}