:root {
    /* tema claro */
    --roxo-primario-modo-claro: #7D53F3;
    --roxo-secundario-modo-claro: #714ed3;
    --roxo-terciario-modo-claro: #DED4FC;
    --texto-branco-modo-claro: #ffffff;
    --texto-preto-modo-claro: #242424;
    --texto-transparente-modo-claro: #9A9A9A;
    --background-claro-modo-claro: #ffffff;
    --background-cinza-modo-claro: #F3F3F3;
    --background-input-modo-claro: #F9F9F9;
    --borda-input-modo-claro: #E1E1E1;
    --texto-input-modo-claro: #979797;
    --shadowbox-modo-claro: #BEBEBE;
    --texto-erro-modo-claro: #FF0023;
}