:root {
    /* tema claro */
    --roxo-primario-modo-claro: #7D53F3;
    --roxo-secundario-modo-claro: #714ed3;
    --texto-branco-modo-claro: #ffffff;
    --texto-preto-modo-claro: #242424;
    --texto-transparente-modo-claro: #9A9A9A;
    --background-claro-modo-claro: #ffffff;
    --background-cinza-modo-claro: #F3F3F3;
    --background-input-modo-claro: #F9F9F9;
    --borda-input-modo-claro: #E1E1E1;
    --texto-input-modo-claro: #979797;
    --shadobox-modo-claro: #BEBEBE;
  }
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#telaDashboards {
    min-height: 100dvh;
    width: 100dvw;
    display: flex;

    gap: 1.25rem;
    padding-right: 0.5625rem;;
}

#telaDashboards #containerDashboards {
    display: flex;
    flex-direction: column;

    min-height: 100%;
    width: 100%;

    padding-left: 23.50rem;

    overflow-y: auto;
}

#telaDashboards #containerDashboards #title {
    font-size: 2rem;

    width: 100%;
    padding: 2.75rem 0rem;

    color: var(--texto-preto-modo-claro);
}

#telaDashboards #containerDashboards hr {
    width: 100%;

    color: var(--texto-input-modo-claro);
}

#telaDashboards #containerDashboards #usuarioContainer {
    background-color: #714ed3;

    display: flex;
    align-items: center;

    padding: 1.25rem 0rem;
}

#telaDashboards #containerDashboards #usuarioContainer img {
    height: 4.0625rem;

    padding-right: 0.5rem;
}

#telaDashboards #containerDashboards #usuarioContainer #userContent {
    background-color: aqua;
}

#telaDashboards #containerDashboards #usuarioContainer #userContent h1 {
    font-size: 1.25rem;
}

#telaDashboards #containerDashboards #usuarioContainer #userContent span {
    font-size: 1rem;
}

#telaDashboards #containerDashboards #filtros {
    display: flex;
    gap: 2.6875rem;

    margin-bottom: 1.25rem;

    background-color: yellowgreen;
}

#telaDashboards #containerDashboards #filtros .filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

#telaDashboards #containerDashboards #filtros .filtro label {
    font-size: 1.25rem;
}

#telaDashboards #containerDashboards #filtros .filtro select {
    font-size: 1.25rem;

    padding: 0.2rem 1rem 0.2rem 0.5rem;
    
    border-radius: 5px;
    box-shadow: 1px solid var(--texto-input-modo-claro)
}

#telaDashboards #containerDashboards #dashboards {
    background-color: #714ed3;

    display: flex;
    flex-direction: row;

    height: 5000px;
}