@import url("../../Main.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  overflow-x: hidden;
}

#containerSidebar {
  position: fixed;

  height: 100dvh;
  width: 22.25rem;

  padding: 0.5625rem;

  box-shadow: 2px 4px 9.4px 0px rgba(0, 0, 0, 0.2);

  background-color: var(--background-claro);
}

#containerSidebar #sidebarHeader {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  margin-bottom: 2rem;

  gap: 0.5rem;
}

#containerSidebar #sidebarHeader img {
  height: 3rem;
}

#containerSidebar #sidebarHeader span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--roxo-primario);
}

#containerSidebar #sidebarMenu {
  display: flex;
  flex-direction: column;

  padding: left;

  gap: 0.5rem;
}

#containerSidebar #sidebarMenu .sidebarItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.375rem;

  gap: 1rem;
  padding-left: 1rem;

  text-decoration: none;
  border-radius: 25px;

  transition: all 0.2s ease-in-out;
}

#containerSidebar #sidebarMenu .sidebarItem:hover {
  padding-left: 1.5rem;
  background-color: var(--background-cinza);
}

#containerSidebar #sidebarMenu .sidebarItem img {
  height: 2rem;
  width: 2rem;

  opacity: 0.9;
}

#containerSidebar #sidebarMenu .sidebarItem span {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--texto-preto);

  opacity: 0.9;
}

#containerSidebar #sidebarMenu .sidebarItem.active {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.375rem;

  gap: 1rem;
  padding-left: 1rem;

  text-decoration: none;
  border-radius: 25px;
  background-color: var(--roxo-primario);

  transition: all 0.2s ease-in-out;
}

#containerSidebar #sidebarMenu .sidebarItem.active:hover {
  background-color: var(--roxo-secundario);
}

#containerSidebar #sidebarMenu .sidebarItem.active img {
  height: 2rem;
  width: 2rem;

  filter: invert(1);
  opacity: 1;
}

#containerSidebar #sidebarMenu .sidebarItem.active span {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--texto-branco);

  opacity: 1;
}
