:root {
    /* tema claro */
    --roxo-primario-modo-claro: #7D53F3;
    --roxo-secundario-modo-claro: #714ed3;
    --texto-branco-modo-claro: #ffffff;
    --texto-preto-modo-claro: #242424;
    --texto-transparente-modo-claro: #9A9A9A;
    --background-claro-modo-claro: #ffffff;
    --background-cinza-modo-claro: #F3F3F3;
    --background-input-modo-claro: #F9F9F9;
    --borda-input-modo-claro: #E1E1E1;
    --texto-input-modo-claro: #979797;
  }
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    overflow-x: hidden;
}

#telaConfiguracoes {
    height: 100dvh;
    width: 100dvw;
    display: flex;

    gap: 1.25rem;
}

#telaConfiguracoes #containerConfiguracoes {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

#telaConfiguracoes #containerConfiguracoes h1 {
    font-size: 10rem;
}