@import url("../../Main.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    overflow-x: hidden;
}

#telaRecursos {
    height: 100dvh;
    width: 100dvw;
    display: flex;

    gap: 1.25rem;

    background-color: var(--background-cinza);
}

#telaRecursos #containerRecursos {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

#telaRecursos #containerRecursos h1 {
    font-size: 10rem;

    color: var(--texto-preto);
}